button{
    background: none;
    border: none;
    cursor: pointer;
}

.detail-container{
    display: flex;
}

.detail-info{
    display: flex;
    flex-grow: 1;
}

.fa-star{
    color: greenyellow;
}